@charset "utf-8";
/* CSS Document */
 body, div[data-role="page"], div[data-role="content"], .swipeArea {
                height: 95%%;
				overflow:hidden;
				color: #333333;
				font-family: 'Open Sans',sans-serif;
				font-size: 120%;
				font-weight: 300;
				line-height: 135%;
				margin-bottom: 0.5em;
				margin-top: -0.5em;
				padding-bottom: 2.6em;
				box-shadow: 0 1px 5px #AAAAAA;
	 }
div[data-role="header"] {
	margin-bottom:25px;
    position: relative !important;
    z-index: 200000 !important;
}
}
div#splashscreen.ui-page div.ui-content{
			background:url(images/screen-hdpi-portrait.jpg) repeat scroll transparent !important;
			padding-top:50%;
		}


input.ui-input-text, textarea.ui-input-text {
    background-image: none !important;
  }
	

.ui-body-d, .ui-dialog.ui-overlay-d {
			background:url(images/screen-hdpi-portrait-lite.jpg) repeat scroll center transparent !important;
		}




.ui-header .ui-title, .ui-footer .ui-title {
    display: block;
    font-family: 'Open Sans',san-serif !important;
    font-size: 30px !important;
    font-weight: normal;
    margin: 0.3em !important;
    min-height: 2em;
    outline: 0 none !important;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px -1px 1px #555555;
    white-space: nowrap;
}

.ui-header, .ui-footer, .ui-page-fullscreen .ui-header, .ui-page-fullscreen .ui-footer {
    border-left-width: 0;
    border-right-width: 0;
    height: 70px !important;
    overflow: hidden;
    padding-top: 10px !important;
    position: absolute;
    width: 100%;
}


.ui-bar-a, .ui-bar-d {
       background: linear-gradient(#F944AE, #EC068D) repeat scroll 0 0 #111111 !important;
    border-bottom: 1px solid #333333 !important;
    box-shadow: 0 1px 12px #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
    z-index: 200000;
}
p.preloader {
    background-color: #000000;
    border-radius: 10px;
    height: 30px;
    opacity: 0.5;
    padding: 0 4px 10px;
    width: 30px;
	}

#block-user-login, .login {
	background:#FFF;
	
}

form#user-login-form {
	max-width: 400px;
	padding:20px;
	margin: 0 auto;
}


form#user-login-form.user-login-form div ul li {
    line-height: 2em;
    list-style: none outside none;
    margin-left: -40px;
}

form#user-login-form.user-login-form div ul li a.ui-link {
	font-size: 0.7em;
    font-weight: normal;
    text-decoration: none;
	
}

a#home.ui-btn-icon-left .ui-btn-inner {
  	border: medium none;
    height: 50px;
    padding: 2px;
    width: 50px;
}

a#home {
    border-radius: 30px;
    display: inline-block;
    font-size: 13px;
    margin: 0;
}

.jqm-content > h1 {
    clear: both;
    color: #333333 !important;
    font-family: 'Open Sans',sans-serif!important;
    font-size: 2.4em!important;
    font-weight: 300!important;
}


.jqm-list .ui-btn-inner, .ui-btn {
    font-family: 'Open Sans',sans-serif !important;
    font-size: 0.95em !important;
    font-weight: 300 !important;
}

