@charset "utf-8";
/* CSS Document */
 body, div[data-role="page"], div[data-role="content"], .swipeArea {
                height: 100%;
				width:100%;   
            }

div #splashcreen {
			background:url(images/screen-hdpi-landscape.png) repeat scroll center;
		}
#logo {
	padding:10px;
}
